.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb (20, 20, 20); */
    background-color: #333333;
    color: #CCCCCC;
    font-size: 1.1em;
}